/**************************************** Üldkujundus */

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 800px;
    margin: auto; /*lisab keskele */
    background-color: #fff;
}

body{
    background-color: #eeeeee;
}

/***************************************** Päis */
.header{
    background-color: #666;
    color: #fff;
    line-height: 80px;
    padding: 0px 40px ;
}

.header h1{
    font-weight: 400;
}




/*************************************** Menüü */

.menu{
    background-color: #000;
    padding: 0px 40px ;
    height: 60px;
}

.menu a{
    color: #fff;
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
    color: #aaa;

}
.menu ul li{
    display: block;
    float: left;
    line-height: 60px;
    padding: 0 20px 0 0;
}


/******************************************** Sisu */
.content{
    
    padding: 20px 40px ;

}

.content h2{
    font-weight: 400;
    padding: 10px 0px;
}
.content p{
    padding: 10px 0px;
}
.content img{
    width: 100%;
}
.content ul{
    padding-left: 40px ;
}
/****************************************** Jalus */
.footer{
    
    background-color: #000;
    color: #fff;
    line-height: 80px;
    padding: 0px 40px ;
}
.footer h3{
    font-weight: 400;
}


